{% extends 'cover.html.twig' %}

{% block title %}Awesome App!{% endblock %}

{% block body %}
    <main class="px-3">
        <h1>Awesome App</h1>
        <p class="lead">
            Find out who's Awesome with this Awesome App!
        </p>
        <p class="lead">
            <a href="/awesome/candidate/new" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Who's awesome?</a>
        </p>
    </main>
{% endblock %}
