{% extends 'cover.html.twig' %}

{% block title %}YOU ARE AWESOME{% endblock %}

{% block body %}
    <h1>YOU ARE AWESOME</h1>
    <p>
        So what? ¯\_(ツ)_/¯ You levitate above the rest of us? Please...
    </p>
    <div class="text-center">
        <img src="/images/awesome.jpeg" width="300" class="rounded m-3" />
    </div>

    <a class="btn btn-sm btn-secondary fw-bold border-white bg-white" href="/awesome/candidate/new">
        Feeling Lucky? Try Again
    </a>
{% endblock %}
