{% extends 'cover.html.twig' %}

{% block title %}New AwesomeCandidate{% endblock %}

{% block body %}
    <h1>Who's Awesome?</h1>

    {{ include('awesome_candidate/_form.html.twig') }}
{% endblock %}
