{% extends 'cover.html.twig' %}

{% block title %}YOU ARE !AWESOME{% endblock %}

{% block body %}
    <h1>YOU ARE !AWESOME</h1>

    <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" href="/awesome/candidate/new">Try Again</a>
{% endblock %}
