{% extends 'cover.html.twig' %}

{% block title %}YOU ARE !AWESOME{% endblock %}

{% block body %}
    <h1>YOU ARE ! AWESOME</h1>

    <p>
        But this is just the computer opinion, we think you're just as awesome as anyone else!
    </p>
    <div class="text-center">
        <img src="/images/not-awesome.jpg" width="300" class="rounded m-3" />
    </div>

    <a class="btn btn-sm btn-secondary fw-bold border-white bg-white" href="/awesome/candidate/new">
        Not Satisfied? Try Again
    </a>
{% endblock %}
